<% provide(:title, "About") %>
<h1>About</h1>
<p>
The Ruby on Rails tutorial is a book and screencast series to teach web development with Ruby on Rails. This is the samp0le application for the tutorial.</p>
